---
layout: default.hbs
title: Alex Hunt – Web developer, student & occassional writer
---

<div class="grid section">
    <div class="grid-col grid-col-xl-4">
        <article class="bio">
            <p class="lead-paragraph">London-based web developer. Currently building cool stuff at <a href="https://digital-detox.co.uk">Digital Detox</a>. Avid climber and snowboarder. Follow me on <a href="{{data.links.twitter}}">Twitter</a> or view my open source projects on&nbsp;<a href="{{data.links.github}}">GitHub</a>.</p>
        </article>
    </div>
</div>

<div class="grid">
    <section class="section grid-col grid-col-lg-3 grid-col-xl-2 card-listing">
        <div class="card-listing-items">
            <article class="card">
                <h1 class="heading heading-primary card-heading">The ultra-minimalist static site stack</h1>
                <p>This year I aim to build out my personal website — right now a simple landing page replacing&hellip;</p>
                <p class="card-metadata"><time datetime="2017-02-09T09:19">9 Feb 2017</time></p>
                <a class="block-link" href="https://medium.com/@huntie/the-ultra-minimalist-static-site-stack-31458ac4f48d"></a>
            </article>
            <article class="card">
                <h1 class="heading heading-primary card-heading">Representing a UUID as a Base62 Hash ID for short, pretty URLs</h1>
                <p>UUIDs are awesome — they provide a non-sequential, comprehensively unique identifier that can&hellip;</p>
                <p class="card-metadata"><time datetime="2017-01-06T20:04">6 Jan 2017</time></p>
                <a class="block-link" href="https://medium.com/@huntie/representing-a-uuid-as-a-base-62-hash-id-for-short-pretty-urls-c30e66bf35f9"></a>
            </article>
        </div>
        <footer class="card-listing-footer">
            <a class="card-listing-source-link" href="{{data.links.medium}}">
                <img class="icon icon-inline card-listing-source-icon" src="/assets/img/icon-medium.svg">
                <span class="card-listing-source-label">View all articles on Medium</span>
            </a>
        </footer>
    </section>

    <section class="section grid-col grid-col-lg-3 grid-col-xl-2 card-listing">
        <div class="card-listing-items">
            {{#each data.projects}}
                <article class="card">
                    <h1 class="heading heading-primary card-heading">{{title}}</h1>
                    <p>{{description}}</p>
                    <a class="block-link" href="{{url}}"></a>
                </article>
            {{/each}}
        </div>
        <footer class="card-listing-footer">
            <a class="card-listing-source-link" href="{{data.links.github}}">
                <img class="icon icon-inline card-listing-source-icon" src="/assets/img/icon-github.svg">
                <span class="card-listing-source-label">View all projects on GitHub</span>
            </a>
        </footer>
    </section>
</div>

{{> external-links}}
