---
layout: default.hbs
title: Alex Hunt – Software developer & occassional writer
---

<div class="grid section">
    <div class="grid-col grid-col-xl-4">
        <article class="bio">
            <p class="lead-paragraph" itemprop="description">London-based software developer. I love JavaScript, web &amp; native, and helping teams thrive. Avid climber and snowboarder. Follow me on <a href="{{data.links.twitter}}">Twitter</a> or view my open source projects on&nbsp;<a href="{{data.links.github}}">GitHub</a>.</p>
        </article>
    </div>
</div>

<div class="grid">
    <section class="section grid-col grid-col-lg-3 grid-col-xl-2 card-listing">
        <div class="card-listing-items">
            {{#each (take medium.posts 2)}}
                <article class="card" itemscope itemtype="http://schema.org/Article">
                    <h1 class="heading heading-primary card-heading" itemprop="headline">{{title}}</h1>
                    <p itemprop="description">{{excerpt content.subtitle}}</p>
                    <p class="card-metadata"><time datetime="{{date firstPublishedAt ""}}" itemprop="datePublished">{{date firstPublishedAt "D MMM YYYY"}}</time></p>
                    <a class="block-link" href="{{url}}" itemprop="url"></a>
                </article>
            {{/each}}
        </div>
        <footer class="card-listing-footer">
            <a class="card-listing-source-link" href="{{data.links.medium}}">
                <img class="icon icon-inline card-listing-source-icon" src="/assets/img/icon-medium.svg">
                <span class="card-listing-source-label">View all articles on Medium</span>
            </a>
        </footer>
    </section>

    <section class="section grid-col grid-col-lg-3 grid-col-xl-2 card-listing">
        <div class="card-listing-items">
            {{#each data.projects}}
                <article class="card" itemscope itemtype="http://schema.org/SoftwareSourceCode">
                    <h1 class="heading heading-primary card-heading" itemprop="name">{{title}}</h1>
                    <p itemprop="description">{{description}}</p>
                    <a class="block-link" href="{{url}}" itemprop="codeRepository"></a>
                </article>
            {{/each}}
        </div>
        <footer class="card-listing-footer">
            <a class="card-listing-source-link" href="{{data.links.github}}">
                <img class="icon icon-inline card-listing-source-icon" src="/assets/img/icon-github.svg">
                <span class="card-listing-source-label">View all projects on GitHub</span>
            </a>
        </footer>
    </section>
</div>

{{> external-links}}
